.sidebar
  a.sidebar-item ng-href="#/" style="background-image: url(../images/sidebar/bit-cup.jpg)"
    /.sidebar-item-bar
    .sidebar-item-text
      | Bit-Cup 2016
  a.sidebar-item ng-href="#/" style="background-image: url(../images/sidebar/online_courses.jpg)"
    /.sidebar-item-bar
    .sidebar-item-text
      | Онлайн-курсы
  a.sidebar-item ng-href="#/" style="background-image: url(../images/sidebar/gallery.jpg)"
    /.sidebar-item-bar
    .sidebar-item-text
      | Фотогалерея
  a.sidebar-item ng-href="#/" style="background-image: url(../images/sidebar/olympiads.jpg)"
    /.sidebar-item-bar
    .sidebar-item-text
      | Олимпиады и конкурсы по программированию