@import 'colors';

$link-hover-underline-size: 2px;
$link-margin: 15px;

.header {
 .nav > li > a {
   box-sizing: border-box;
   font-weight: bold;
   margin: 0 $link-margin;
   padding-left: 0;
   padding-bottom: 0;
   padding-right: 0;

   &:hover,
   &:focus {
     border-bottom: $link-hover-underline-size solid $theme-color-yellow;
   }
 }

 .navbar {
   border: none;
 }

 .navbar-left > li:first-child > a {
   margin-left: 0;
 }

 .navbar-right > li:last-child > a {
   margin-right: 0;
 }

 .navbar-collapse {
   padding-left: 0;
   padding-right: 0;
 }

 .navbar-right {
   margin-right: 0;
 }
}
