@import 'colors';

@import 'main/announcements';
@import 'main/presentations';
@import 'main/news';
@import 'main/tasks';
@import 'main/projects';

$title-size: 23px;
$title-height: 120px;
$main-block-padding: 70px;
$footer-padding: 135px;

.section-title {
  line-height: $title-height;
  text-transform: uppercase;

  span {
    display: inline-block;
    vertical-align: middle;
    font-family: CirceExtraBold, sans-serif;
    font-size: $title-size;
  }

  .v-separator {
    content: "";
    display: inline-block;
    width: 2px;
    background-color: $separator-color;
    height: 16px;
    padding: 0;
    margin: 0 10px;
    transform: translateY(20%);
  }

  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.main-block {
  padding-bottom: $main-block-padding;

  &:last-child {
    padding-bottom: $footer-padding;
  }
}

.v-separator {

}
