@import 'colors';

$sidebar-width: 250px;
$sidebar-item-height: 240px;
$sidebar-text-font-size: 16px;
$sidebar-text-line-height: $sidebar-text-font-size * 1.5;
$sidebar-text-padding: 20px 20px;
$sidebar-text-color: white;

.sidebar {
  width: $sidebar-width;
  
  .sidebar-item {
    background-size: cover;
    display: block;
    height: $sidebar-item-height;
    position: relative;
    
    .sidebar-item-bar {
      border-bottom: 2px solid $theme-color-yellow;
      box-sizing: border-box;
      margin-left: 20px;
      padding-top: 30px;
      width: 120px;
    }
    
    .sidebar-item-text {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      color: $sidebar-text-color;
      font-family: CirceExtraBold, sans-serif;
      font-size: $sidebar-text-font-size;
      height: 100%;
      line-height: $sidebar-text-line-height;
      padding: $sidebar-text-padding;
      position: absolute;
      text-transform: uppercase;
      width: 100%;
    }
  }
}
