.row ng-include="'views/main/announcements/sidebar_item.html'"
.row ng-include="'views/main/announcements/sidebar_item.html'"
.row ng-include="'views/main/announcements/sidebar_item.html'"
.row ng-include="'views/main/announcements/sidebar_item.html'"