/* line 21, ../../app/styles/footer.scss */
.footer {
  background-color: #2ab4c0;
  color: white;
  height: 110px;
}
/* line 26, ../../app/styles/footer.scss */
.footer .footer-credits, .footer .footer-info {
  font-family: CirceRegular, sans-serif;
  font-size: 14px;
  line-height: 21px;
  padding: 18.2px 0;
}
/* line 33, ../../app/styles/footer.scss */
.footer .footer-credits {
  text-align: left;
}
/* line 37, ../../app/styles/footer.scss */
.footer .footer-info {
  text-align: right;
}
/* line 40, ../../app/styles/footer.scss */
.footer .footer-info .footer-phone {
  font-size: 18px;
  font-weight: bold;
}
/* line 46, ../../app/styles/footer.scss */
.footer .footer-social {
  padding-top: 30px;
  text-align: center;
}
/* line 50, ../../app/styles/footer.scss */
.footer .footer-social .social-button {
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  margin: 0 15px;
  width: 30px;
}
/* line 57, ../../app/styles/footer.scss */
.footer .footer-social .social-button.vk {
  background-image: url(../images/social/vk.png);
}
/* line 60, ../../app/styles/footer.scss */
.footer .footer-social .social-button.vk:hover, .footer .footer-social .social-button.vk:focus {
  background-image: url(../images/social/vk-active.png);
}
/* line 66, ../../app/styles/footer.scss */
.footer .footer-social .social-button.facebook {
  background-image: url(../images/social/facebook.png);
}
/* line 69, ../../app/styles/footer.scss */
.footer .footer-social .social-button.facebook:hover, .footer .footer-social .social-button.facebook:focus {
  background-image: url(../images/social/facebook-active.png);
}
/* line 75, ../../app/styles/footer.scss */
.footer .footer-social .social-button.twitter {
  background-image: url(../images/social/twitter.png);
}
/* line 78, ../../app/styles/footer.scss */
.footer .footer-social .social-button.twitter:hover, .footer .footer-social .social-button.twitter:focus {
  background-image: url(../images/social/twitter-active.png);
}
/* line 84, ../../app/styles/footer.scss */
.footer .footer-social .social-button.instagram {
  background-image: url(../images/social/instagram.png);
}
/* line 87, ../../app/styles/footer.scss */
.footer .footer-social .social-button.instagram:hover, .footer .footer-social .social-button.instagram:focus {
  background-image: url(../images/social/instagram-active.png);
}