/* line 4, ../../app/styles/pagination.scss */
.line {
  border-left: 1px solid #373737;
  display: inline;
  margin: 8px;
}

/* line 10, ../../app/styles/pagination.scss */
.pagination-box {
  border-top: 1px solid #b9c1d0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 16, ../../app/styles/pagination.scss */
.pagination {
  margin: 11px 0 120px;
  width: 100%;
  font-family: CirceRegular, sans-serif;
  font-size: 14px;
  color: #373737;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
/* line 34, ../../app/styles/pagination.scss */
.pagination .pagination-num {
  display: inline;
  outline: 0;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 41, ../../app/styles/pagination.scss */
.pagination .pagination-num:hover, .pagination .pagination-num:focus {
  color: #fdd400;
  border-top: 3px solid #fdd400;
}
/* line 47, ../../app/styles/pagination.scss */
.pagination .pagination-control {
  display: -moz-inline-box;
  width: 50%;
}
/* line 51, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-forward {
  display: inherit;
  outline: 0;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 57, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-forward:hover .page-controls-arrow {
  background-position: -0px -0px;
}
/* line 61, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-forward:hover .page-controls-text {
  color: #fdd400;
}
/* line 65, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-forward .page-controls-arrow {
  margin: 6px 10px 10px;
  background: url("../images/pagination.png") 0px -54px;
}
/* line 72, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-back {
  display: inherit;
  outline: 0;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 78, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-back:hover .page-controls-arrow {
  background-position: -0px -36px;
}
/* line 82, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-back:hover .page-controls-text {
  color: #fdd400;
}
/* line 86, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-back .page-controls-arrow {
  margin: 6px 10px 10px;
  background: url("../images/pagination.png") 0px -18px;
}
/* line 92, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-arrow {
  display: inherit;
  margin: 20px;
  width: 17px;
  height: 8px;
}
/* line 99, ../../app/styles/pagination.scss */
.pagination .pagination-control .page-controls-text {
  display: inherit;
}