.banner
  .container
    .evm-logo
    .banner-title
      | Кафедра
      br
      | электронных
      br
      | вычислительных машин
    .banner-lead
      | Белорусский государственный университет
      br
      | информатики и радиоэлектроники