.footer
  .container
    .row
      .col-md-4
        .footer-credits
          | &copy; 2010-2016 ФКСиС
          br
          | Учебно-исследовательский проект
          br
          | совместной лаборатории БГУИР и IBA
      .col-md-5
        .footer-social
          a.social-button.vk ng-href="#/"
          a.social-button.facebook ng-href="#/"
          a.social-button.twitter ng-href="#/"
          a.social-button.instagram ng-href="#/"
      .col-md-3
        .footer-info
          .footer-phone
            | +375 (17) 293-88-40
          | ул. Гикало, 9, г. Минск
          br
          | Схема проезда