.header
  .navbar.navbar-default role="navigation"
    .container
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-left
          li.focus
            a href="#/"
              | RUS | ENG
        ul.nav.navbar-nav.navbar-right
          li.focus
            a ng-href="#/news"
              | О кафедре
          li.active
            a ng-href="#/"
              | Структура кафедры
          li
            a ng-href="#/projects"
              | Образование
          li
            a ng-href="#/"
              | Обратная связь
          li
            a ng-href="#/"
              | Регистрация | Войти
          li
            a ng-href="#/"
              i.glyphicon.glyphicon-search
