.project-title Математическое программное обеспечение вычислительных машин, комплексов и компьютерных сетей
.project-author Петрова Полина Алексеевна 1 курс 1002 группа
.project-links Отзывы (2) | Комментарии студентов (2)